:root{
  --color-primary-sedan: hsl(31, 77%, 52%);
  --color-primary-suv: hsl(184, 100%, 22%);
  --color-primary-luxury: hsl(179, 100%, 13%);

  --color-neutral-200: hsla(0, 0%, 100%, 0.75);
  --color-neutral-100: hsl(0, 0%, 95%);

  --fs-base: 15px;

  --ff-base: 'Lexend Deca', sans-serif;
  --ff-accent: 'Big Shoulders Display', cursive;

  --fw-base: 400;
  --fw-accent: 700;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--ff-base);
  margin: 2rem;
  background-color: var(--color-neutral-100);
  min-height: 100vh;
}


main{
  border-radius: 0.6rem;
  overflow: hidden;
}

.card__content{
  border-radius: 1rem;
}

.card__sedan{
  background-color: var(--color-primary-sedan);
  padding: 3rem;
  display: grid;
  gap: 2rem;
}

.card__suv{
  background-color: var(--color-primary-suv);
  padding: 3rem;
  display: grid;
  gap: 2rem;
}

.card__luxury{
  background-color: var(--color-primary-luxury);
  padding: 3rem;
  display: grid;
  gap: 2rem;
}

.card__title{
  font-family: var(--ff-accent);
  font-weight: var(--fw-accent);
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--color-neutral-100);
}

.card__paragraph{
  color: var(--color-neutral-200);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
}

button{
  width: 9rem;
  height: 3rem;
  border-radius: 3rem;
  transition: all 100ms ease-in-out;
}

.sedan__button{
  color: var(--color-primary-sedan);
}

.suv__button{
  color: var(--color-primary-suv);
}

.luxury__button{
  color: var(--color-primary-luxury);
}

button:hover{
  cursor: pointer;
  background-color: transparent;
  color: var(--color-neutral-100);
  border: 2px solid var(--color-neutral-200);
}

@media screen and (min-width: 700px){
  .card__content{
    display: flex;
    width: 68rem;
    margin: auto;
  }
  .card__paragraph{
    font-size: 1.1rem;
    line-height: 1.7;
  }

  .card__title{
    padding: 2rem 0rem;
  }

  button{
    margin-top: 5rem;
  }
}